.completed-tasks {
  color: $tasks-font-color;
  margin: 0 auto;
  max-width: $tasks-width;

  .tasks-toggle-showdone {
    background-color: #000;
    border: 0;
    border-radius: 4px;
    color: #fff;
    display: block;
    margin: 3rem auto 0 auto;
    padding: 10px;
  }

  .tasks-list {
    display: none;
    list-style: none;
    margin: 0;
    opacity: .3;
    padding: 0;
  }

  .task-item {
    margin: 10px 0;
    position: relative;

    .task-title {
      text-decoration: line-through;

    }

    .task-controls {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .tasks-list .task-item,
  .tasks-footer .task-input {
    border-bottom: 2px solid $tasks-bottom-border-color;
    font-size: $tasks-font-size;
    font-weight: $tasks-font-weight;
  }

  .tasks-footer {
    .task-input {
      -webkit-appearance: none;
      background: none;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      color: $tasks-input-font-color;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .task-input:focus {
      outline: none;
    }
  }
}
