.tasks {
  color: $tasks-font-color;
  margin: 0 auto;
  max-width: $tasks-width;

  .tasks-headline {
    text-align: center;
  }

  .tasks-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &.completed {
    .tasks-list {
      display: none;

      &.visible {
        display: inherit;
      }
    }

    .task-item {
      opacity: .2;
      text-decoration: line-through;
    }
  }

  // Task Item
  .task-item {
    margin: 10px 0;
    position: relative;

    .task-title {
      font-size: $tasks-font-size;
    }

    .task-edit {
      background: none;
      border: 0;
      color: $tasks-font-color;
      font-size: $tasks-font-size;
      font-weight: $tasks-font-weight;
      padding: 0;
    }

    .task-controls {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
    }

    .task-controls__buttons {
      background: none;
      border: 0;
      color: $tasks-controls-color;
      text-align: center;

      &:hover {
        color: $tasks-controls-color-hover;
      }
    }
  }

  .task-item:hover .task-controls {
    display: block;
  }

  .tasks-list .task-item .task-title,
  .tasks-footer .task-input {
    border-bottom: 2px solid $tasks-bottom-border-color;
    font-size: $tasks-font-size;
    font-weight: $tasks-font-weight;
  }

  .tasks-footer {
    .task-input {
      -webkit-appearance: none;
      background: none;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      color: $tasks-input-font-color;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .task-input:focus {
      outline: none;
    }
  }

  .tasks-toggle-showdone {
    background-color: $button-background-color;
    border: 0;
    border-radius: 4px;
    color: $button-font-color;
    display: block;
    margin: 3rem auto 0;
    padding: 10px;
  }
}
