{
  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "es6": true,
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended",
  ],
  "rules": {
    "quotes": [2, "single"]
  }
}
