//scss-lint:disable ColorVariable

// App
$app-background-color: #273649;

// Tasks
$tasks-width: 500px;
$tasks-font-color: #fff;
$tasks-input-font-color: #fff;
$tasks-font-size: 1.25rem;
$tasks-font-weight: 300;
$tasks-bottom-border-color: #fff;
$tasks-controls-color: #fff;
$tasks-controls-color-hover: #999;

// Button
$button-background-color: #000;
$button-font-color: #fff;
