doctype html
html(lang="en")
  head
    title= TaskManagerApp
    <!-- inject:css -->
    <!-- endinject -->
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", type="text/css", href="/node_modules/material-design-lite/material.min.css")
    script(type="application/javascript", src="/node_modules/material-design-lite/material.min.js")
    script(type="application/javascript", src="/node_modules/mustache/mustache.min.js")
    script(type="application/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
  body
    #app
    <!-- inject:js -->
    <!-- endinject -->
